<div class="show_sale" style="padding-bottom: 15px; border-bottom: 1px dashed #ddd; margin-bottom: 25px;">
	<p style="font-size:13px; font-family:Arial;">[8b_sold_alerts_data_address] just sold for <strong>[8b_sold_alerts_data_sale_price]</strong> on [8b_sold_alerts_data_sale_date]</p>
	<p style="font-size:13px; font-family:Arial;">This property is a [8b_sold_alerts_data_beds] bed, [8b_sold_alerts_data_baths] bath home that's [8b_sold_alerts_data_size]sqft.</p>
	<p style="font-size: 12px; font-family:Arial;"><a href="https://www.google.com/maps/place/[8b_sold_alerts_data_address]">+View on Google Maps</a></p>
</div>